body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} 
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: rgb(138, 3, 138);
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.orange-color {
    color: orange;
}
section {
    margin-top: 0px;
    margin-bottom: 100px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container {
    display: flex;
    margin-bottom: 100PX;
}
.half-width {
    width: 50%;
    padding:5%;
}
.half-width img {
    width: 100%;
    margin-top: 50px;
}
.link-button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, rgb(135, 27, 135));
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px; border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
}
#full-stack-developer {
    border-left: 7px solid tomato;
    border-bottom: 5px solid rgb(199, 108, 199);
}
#baby-stack-developer {
    border-left: 7px solid tomato;
    border-bottom: 5px solid rgb(192, 92, 192);
}
footer p {
    text-align: center;
}