body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} 
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.orange-color{
    color: orange;
}
section{
    margin-top: 0px;
    margin-bottom: 100px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100PX;
}
.half-width{
    width: 50%;
    padding:5%;
}
.half-width img{
    width: 100%;
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, rgb(135, 27, 135));
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px; border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
}
#full-stack-developer{
    border-left: 7px solid tomato;
    border-bottom: 3px solid rgb(199, 108, 199);
}
#baby-stack-developer{
    border-left: 7px solid tomato;
    border-bottom: 3px solid rgb(192, 92, 192);
}
footer{
    text-align: center;
}